* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#grid_wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "he he he"
        "a1 ma a2"
    ;

}

header {
    background: darkviolet;
    grid-area: he;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 200px;
    background-color: darkviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: flex-end;
}

main {
    background: lightcoral;
    grid-area: ma;
}

#aside_1 {
    background: greenyellow;
    grid-area: a1;
}

#aside_2 {
    background: greenyellow;
    grid-area: a2;
}


#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    background-color: darkviolet;
    position: absolute;
    right: 0px;
    top: -90vh;
    width: 200px;
    align-items: center;
    list-style: none;
    transition: all 0.5s;
    z-index: 1;
}

#nav-links a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.4s;
}

.nav-active {
    transform: translateY(100vh);
}

#nav-links a:hover {
    color: darkviolet;
    background-color: black;
}

.burger_line {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.crossed_line #linje_2 {
    opacity: 0;
}

.crossed_line #linje_1 {
    transform: rotate(-45deg) translate(-5.9px, 7px);
}

.crossed_line #linje_3 {
    transform: rotate(45deg) translate(-5.9px, -7px);
}

#burger {
    margin-right: 87.5px;
    cursor: pointer;
    z-index: 3;
}
