* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Grid*/
#grid_wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "he he he"
        "a1 ma a2"
    ;

}

/*Asides*/
#aside_1, #aside_2 {
    overflow: hidden;
    width: auto;
    height: 85vh;
    background: rgb(114, 31, 161);
}

#aside_1 {
    grid-area: a1;
    border-right: 0.75vh solid black;
}

#aside_2 {
    grid-area: a2;
    border-left: 0.75vh solid black;
}

/*Header*/
header {
    background: rgb(114, 31, 161);
    grid-area: he;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    border-bottom: 0.5vh solid black;
}

/*Logga*/
#logga {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5vw;
    text-decoration: none;
    color: black;
}

#logga h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#logga_img {
    height: 2.5rem;
    width: auto;
    position: relative;
    top: -7.5px;
    color: black;
    flex: none;
}

#oppetider {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

/*Meny/nav-links*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 15.6vw;
    background-color:  rgb(114, 31, 161);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: flex-end;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background-color: rgb(114, 31, 161);
    position: absolute;
    right: 0px;
    top: -100vh;
    width: 285px;
    align-items: center;
    list-style: none;
    transition: all 0.5s;
    z-index: 1;
    margin-left: -83.4vw;
    padding-top: calc(100vh / 6);
    border-left: 0.5vh solid black;
}

#nav-links a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 200px;
    height: 2.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.4s;
}

.nav-active {
    transform: translateY(100vh);
}

#nav-links a:hover {
    color: black;
    font-size: 1.1rem;
}

.burger_line {
    width: 37.5px;
    height: 5px;
    background-color: black;
    margin: 5px;
    border-radius: 15%;
    transition: all 0.5s;
}

.crossed_line #linje_2 {
    opacity: 0;
}

.crossed_line #linje_1 {
    transform: rotate(-45deg) translate(-7px, 7px);
}

.crossed_line #linje_3 {
    transform: rotate(45deg) translate(-7px, -7px);
}

#burger {
    margin-right: 125px;
    cursor: pointer;
    z-index: 3;
}

/*Startsida*/
main::-webkit-scrollbar-track {
    background-color: inherit; 
}

#main_startsida {
    display: flex;
    background: rgb(91, 25, 129);
    grid-area: ma;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
}

.main_content {
    height: max-content;
    width: 39vw;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 8.2vh;
    flex: none;
    padding: 1.5rem;
    border-radius: 1rem;
}

#main_content-first {
    margin-top: 8.2vh;
}

.mini_title {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}

.text {
    font-size: 17.5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.text2 {
    font-size: 17.5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: 3vh;
}

/*Våra setups*/
#main_vara_setups {
    display: flex;
    background: rgb(91, 25, 129);
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    grid-area: ma;
}

#bild_box {
    width: 44vw;
    height: max-content;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 8.2vh;
    margin-top: 70vh;
    display: flex;
    flex: none;
    padding: 1.5rem;
    border-radius: 1rem;
    flex-direction: column;
}

#bilder_i_box {
    display: flex;
    align-items: center;
    margin-bottom: 6.6vh;
}

.slides {
    width: auto;
    height: 75vh;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 1rem;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.w3-button {
    font-size: 10vh;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

#setup_title {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 3vh;
}

/*Vart finns vi*/
#map_box {
    width: 44vw;
    height: max-content;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 8.2vh;
    margin-top: 7.35vh;
    display: flex;
    flex: none;
    padding: 1.5rem;
    border-radius: 1rem;
    flex-direction: column;
}

.plats_titel {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    margin-bottom: 5vh;
}

#plats {
    width: 37.5vw;
    height: max-content;
    border-radius: 1rem;
    margin-bottom: 5vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*Personal*/
.personal {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.bild_personal {
    height: 30vh;
    width: auto;
}

.personal_text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 2vw;
}

.namn {
    font-family: 'Rubik', sans-serif;
    margin-bottom: 1vh;
}

.text_personal {
    font-size: 17.5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

/*Bredd Max 800px*/
@media screen and (max-width:800px) {

    #oppetider {
        display: none;
    }

    #aside_1, #aside_2 {
        display: none;
    }

    #grid_wrapper {
        grid-template-columns: 0 1fr 0;
    }

    #map_box {
        width: 80vw;
    }

    #plats {
        width: 65vw;
        height: max-content;
    }

    .main_content {
        width: 80vw;
    }

    #bild_box {
        width: 80vw;
    }

    #nav-links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 85vh;
        position: absolute;
        right: 0px;
        top: -85.5vh;
        width: 100%;
        align-items: center;
        list-style: none;
        transition: all 0.5s;
        border-top: 0.6vh solid black;
        border-left: rgb(114, 31, 161);
    }
    #burger {
        margin-right: 5vw;
        cursor: pointer;
        z-index: 3;
    }

    #bilder_i_box {
        width: auto;
        height: 40vh;
    }

    .w3-button {
        font-size: 5vh;
    }
    .slides {
        width: auto;
        height: 35vh;
    }

    #bild_box {
        margin-top: 70vh;
    }

    .text_personal {
        display: none;
    }
    
}

/*Scrollbar*/
::-webkit-scrollbar {
   width: 12.5px;
}

::-webkit-scrollbar-track {
    background-color: darkviolet;
}

::-webkit-scrollbar-thumb {
   background: lightgray;
   border-radius: 10px;
   background-clip: padding-box;
}


